body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh
}

.side-bar {
    background-color: rgb(12, 12, 12);
    width: 260px;
    border-radius: 0.7rem;
    margin: 0.3rem;
}

.left-header {
    display: flex;
    height: 2.5rem;
    background-color: black;
    align-items: center;
    margin-top: 0.4rem;
    /* border: 1px solid red; */
    /* margin-bottom: 0.4rem; */
}

.left-header img {
    width: 2rem;
    height: 2rem;
    filter: grayscale(100%);
    margin-left: 20px;
    margin-right: 40px;
}


/* .left-header i {
    object-fit: contain;
    margin-left: 15px;
} */

.left-body {
    background-color: black;
    width: 260px;
    height: 100%;
    border-radius: 0.4rem;
    /* margin-bottom: 2rem; */
}

.non-scroll-left {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 6rem;
    box-shadow: 0px 8px 8px -8px black;
    overflow: hidden;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
}

#non-scroll-part1 {
    display: flex;
    padding: 0px;
    margin-left: 1rem;
}

#non-scroll-icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-self: end;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

#no-scroll-part2 {
    display: flex;
    justify-content: space-evenly;
}

#non-scroll-part2 .btn {
    margin-left: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(60, 60, 60);
    height: 1.5rem;
    width: 4.5rem;
    color: white;
    font-size: small;
    border: 1px solid black;
    cursor: pointer;
}

#non-scroll-part2 .btn:hover {
    background-color: rgba(70, 70, 70, 1);
}

.scroll-left {
    border: 1px solid white;
    background-color: rgb(20, 20, 20);
    overflow: auto;
    height: 397px;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
}

.main-content {
    background-color: rgb(12, 12, 12);
    border-radius: 0.7rem;
    margin: 0.3rem;
    flex: 1;
    overflow: auto;
}

.music-detail {
    background-color: rgb(12, 12, 12);
    width: 20%;
    margin: 0.3rem;
    right: 0px;
    overflow: auto;
}

.music-player {
    background-color: black;
    border: 2px solid red;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 85px;
    display: flex;
    /* padding: 0.2rem; */
}

.music-player .curr-song-img img {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    height: 80px;
}

.curr-song-data {
    margin-top: 20px;
}

.music-control {
    display: flex;
}

.music-player .music-control img {
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 1rem;
}